<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
    <span>Login</span>
    <form action="/login"  method="POST">
        <label for="#username">Username</label>
        <input type="text" name="username" id="username">
        <label for="#password">Password</label>
        <input type="text" name="password" id="password">
        <input type="submit" value="login">
    </form>
    <span>Register</span>
    <form action="/register" method="POST">
        <label for="#usernameR">Username</label>
        <input type="text" name="username" id="usernameR">
        <label for="#fullnameR">Fullname</label>
        <input type="text" name="fullname" id="fullnameR">
        <label for="#passwordR">Password</label>
        <input type="text" name="password" id="passwordR">
        <input type="submit" value="login">
    </form>
</body>
</html>